<section class="py-20">
	<div class="container px-4 mx-auto">
	  <div class="flex flex-wrap mb-12 -mx-3 text-center lg:mb-20 lg:text-left">
	    <div class="w-full px-3 mb-6 lg:w-1/5 lg:mb-0"><a class="inline-block mx-auto text-3xl font-semibold leading-none lg:mx-0" href="#"><img class="h-10" src="/assets/logos/metis/poll.png" alt="" width="auto"></a></div>
	  <!--   <div class="w-full px-3 mb-8 lg:w-2/5 lg:mb-0">
	      <p class="max-w-md mx-auto leading-relaxed lg:max-w-full lg:mx-0 lg:pr-32 lg:text-lg text-blueGray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo.</p>
	    </div> -->
	    <div class="w-full px-3 mb-8 lg:w-1/5 lg:mb-0">
	      <p class="mb-2 font-bold lg:mb-4 lg:text-lg font-heading text-blueGray-800">Company</p>
	      <ul class="mt-4">
	        <li class="mt-2 lg:text-lg text-blueGray-400"><a href="/privacy">Privacy Policy</a></li>
	        <li class="mt-2 lg:text-lg text-blueGray-400"><a href="/terms">Terms of Service</a></li>
	        <li class="mt-2 lg:text-lg text-blueGray-400"><a href="https://tonytrack.typeform.com/to/H7ov6rjy" target="_blank" >Affiliate Program</a></li>
	      </ul>
	    </div>
	    <div class="w-full px-3 lg:w-1/5">
	      <p class="mb-2 font-bold lg:mb-4 lg:text-lg font-heading text-blueGray-800">Contacts</p>
	      <p class="lg:text-lg text-blueGray-400">support@pollapp.cc</p>
	    </div>
	  </div>
	  <div class="flex flex-col items-center lg:flex-row lg:justify-between">
	    <p class="text-xs text-blueGray-400">&copy; 2021 Poll App. All rights reserved.</p>
	   <!--  <div class="order-first mb-4 -mx-2 lg:order-last lg:mb-0">
	    	<a class="inline-block px-2" href="#"><img src="/assets/icons/facebook-blue.svg" alt=""></a>
	    	<a class="inline-block px-2" href="#"><img src="/assets/icons/twitter-blue.svg" alt=""></a>
	    	<a class="inline-block px-2" href="#"><img src="/assets/icons/instagram-blue.svg" alt=""></a>
	    </div> -->
	  </div>
	</div>
</section>