<section>
	<div class="container px-4 mx-auto">
	  <nav class="flex items-center py-6">
	    <a class="text-3xl font-semibold leading-none" href="https://pollapp.cc"><img class="h-10" src="/assets/logos/metis/poll.png" alt="" width="auto"></a>
	    <div class="ml-auto lg:hidden">
	      <button class="flex items-center px-3 py-2 text-blue-600 navbar-burger hover:text-blue-700 focus:outline-none">
	        <!-- <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
	          <title>Mobile menu</title>
	          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
	        </svg> -->
	        <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
	          <title>Mobile menu</title>
	          <path d="M4 6H20M4 12H20M4 18H11" stroke="currentColor" stroke-width="2" stroke-linecap="round"
	                stroke-linejoin="round"></path>
	        </svg>
	       </button>
	    </div>
	    <ul class="hidden ml-12 mr-auto space-x-12 lg:flex">
	      <!-- <li><a class="text-sm text-blueGray-800 hover:text-blueGray-500" href="#">Blog</a></li> -->
<!-- 	      <li><a class="text-sm text-blueGray-800 hover:text-blueGray-500" href="/pricing">Pricing</a></li>
 -->	   <!--    <li><a class="text-sm text-blueGray-400 hover:text-blueGray-500" href="#">About Us</a></li>
	      <li><a class="text-sm text-blueGray-400 hover:text-blueGray-500" href="#">Features</a></li> -->
	    </ul>
	    <div class="hidden lg:block">
	      <%= link_to "Start Free Trial", new_user_registration_url(subdomain: 'app', only_path: false), class: "inline-block px-4 py-3 text-xs font-semibold leading-none bg-blue-700 hover:bg-blue-700 text-white rounded" %>
	      <%= link_to "Sign In", new_user_session_url(subdomain: 'app', only_path: false), class: "mr-2 inline-block px-4 py-3 text-xs text-blue-600 hover:text-blue-700 font-semibold leading-none border border-blue-200 hover:border-blue-300 rounded" %>
	    </div>
	  </nav>
	</div>
	<div class="relative z-50 hidden navbar-menu">
	  <div class="fixed inset-0 opacity-25 navbar-backdrop bg-blueGray-800"></div>
	  <nav class="fixed top-0 bottom-0 left-0 flex flex-col w-5/6 max-w-sm px-6 py-6 overflow-y-auto bg-white">
	    <div class="flex items-center mb-8">
	      <a class="mr-auto text-3xl font-semibold leading-none" href="#"><img class="h-10" src="/assets/logos/metis/poll.png" alt="" width="auto"></a>
	      <button class="navbar-close">
	        <svg class="w-6 h-6 cursor-pointer text-blueGray-400 hover:text-blueGray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
	          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
	        </svg>
	      </button>
	    </div>
	    <div>
	      <ul>
	        <!-- <li class="mb-1"><a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600" href="#">Blog</a></li> -->
	        <li class="mb-1"><a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600" href="/pricing">Pricing</a></li>
	        <!-- <li class="mb-1"><a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600" href="#">About Us</a></li>
	        <li class="mb-1"><a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600" href="#">Features</a></li> -->
	      </ul>
	      <div class="pt-6 mt-4 border-t border-blueGray-100">
	          <a class="block px-4 py-3 mb-3 text-xs font-semibold leading-none text-center text-white bg-blue-600 rounded hover:bg-blue-700" href="users/sign_up">Sign Up
	          </a>
	          <a class="block px-4 py-3 mb-2 text-xs font-semibold leading-none text-center text-blue-600 border border-blue-200 rounded hover:text-blue-700 hover:border-blue-300" href="users/sign_in">
	          Log In
	          </a>
	      </div>
	    </div>
	    <div class="mt-auto">
	      <p class="my-4 text-xs text-blueGray-400">
	        <span>Get in Touch</span>
	        <a class="text-blue-600 underline hover:text-blue-600" href="#">hello@pollapp.cc</a>
	      </p>
	      <a class="inline-block px-1" href="#"><img src="/assets/icons/facebook-blue.svg" alt=""></a><a class="inline-block px-1" href="#"><img src="/assets/icons/twitter-blue.svg" alt=""></a><a class="inline-block px-1" href="#"><img src="/assets/icons/instagram-blue.svg" alt=""></a>
	    </div>
	  </nav>
	</div>
</section>