<%= render "navbar2" %>

<section class="py-20 bg-slate-100">
  <div class="md:w-12/12 lg:w-12/12 xl:w-6/12 content-center flex flex-col justify-center mx-auto bg-white mt-9 rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">

      <div class="flex px-10 pt-10 justify-between">

        <h1 class="text-2xl text-gray-900 font-semibold">Insight Global Leadership Weekly</h1>     
        <div class="flex -space-x-4">
            <img class="w-10 h-10 rounded-full border-2 border-white dark:border-gray-800" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="">
            <img class="w-10 h-10 rounded-full border-2 border-white dark:border-gray-800" src="https://flowbite.com/docs/images/people/profile-picture-2.jpg" alt="">
            <img class="w-10 h-10 rounded-full border-2 border-white dark:border-gray-800" src="https://flowbite.com/docs/images/people/profile-picture-3.jpg" alt="">
            <a class="flex justify-center items-center w-10 h-10 text-xs font-medium text-white bg-gray-700 rounded-full border-2 border-white hover:bg-gray-600 dark:border-gray-800" href="#">+99</a>
        </div>
      
      </div>
      <div class="px-10 pb-10 ">
         <div class="">
              <button class="bg-gray-100 px-1 py-1 font-base text-sm text-gray-500 inline-flex items-center space-x-2 rounded">
                <span>Today, 12:00 PM - 1:00 PM</span>
              </button>
          </div>    
      </div>
      <div class="flex flex-col p-5 border-t border-b bg-gray-100">
        <div class="mb-2 mt-2">
           
        </div>
      </div>
      <div class="flex flex-col p-10">
        <div class="mb-2 mt-2">
            <p class="text-base text-gray-800 font-semibold">Growth strategy &amp; visual design</p>
            <h1 class="text-base text-gray-300 font-semibold">Contact Details</h1>
            <div class="mt-2 flex items-center">
                <img class="w-5" src="https://www.linkpicture.com/q/image-13_16.png">
                <h1 class="text-base text-gray-900 ml-5 font-semibold">90998765432</h1>
            </div>
            <div class="mt-2 flex items-center">
                <img class="w-5" src="https://www.linkpicture.com/q/image-14_4.png">
                <h1 class="text-base text-gray-900 ml-5 font-semibold">Ruthie.Fahey@yahoo.com</h1>
            </div>
            <div class="mt-2 flex items-center">
                <img class="w-5" src="https://www.linkpicture.com/q/image-15_4.png">
                <h1 class="text-base text-gray-900 ml-5 font-semibold">https://llewellyn.info</h1>
            </div>
            <div class="mt-2 flex items-center">
                <img class="w-5" src="https://www.linkpicture.com/q/image-16_5.png">
                <h1 class="text-base text-gray-900 ml-5 font-semibold">25979 Schulist Mountain</h1>
            </div>
        </div>
      </div>
      <div class=" h-40 rounded-t-lg bg-contain bg-no-repeat bg-[url(https://www.linkpicture.com/q/Rectangle-6.png)]  flex flex-col justify-end pl-20 pr-20 pt-52  max-w-[24rem]">
          <img class="w-30 h-30 object-cover  mb-2 z-10 " src="https://www.linkpicture.com/q/Group-3696.png" alt="logo">  
          
      </div>
     
  </div>
</section>